{% extends "base.html" %}

{% block body %}
  <h1>Mini Public Bike Status</h1>
  <svg viewBox="0 0 100 100" class="icon-bike large">
    <use xlink:href="#base_bike_icon"></use>
  </svg>

  <form class="form">
    <input type="text" class="form-control" id="id_networks_filter" placeholder="Filter by name, city or country...">
    <ul id="id_networks_list" class="networks-list">
      {% for network in networks %}
          <a href="/{{ network.id }}/">
            {{ network.name }} ({{ network.location.city }}, {{ network.location.country }})
          </a>
        </li>
      {% endfor %}
    </ul>
  </form>

  <script>
    window.addEventListener("load", () => {
      var filter = document.getElementById("id_networks_filter"), // search box
          list = document.querySelectorAll("#id_networks_list a"); // all list items
    
      function search() {
        let search = filter.value.toLowerCase();
    
        for (let i of list) {
          let item = i.innerHTML.toLowerCase();
          if (item.indexOf(search) == -1) { i.classList.add("hide"); }
          else { i.classList.remove("hide"); }
        }
      };
      filter.onkeyup = search;
      search();
    });
  </script>
{% endblock body %}
