{% extends "base.html" %}

{% block body %}
  <h1>Bike sharing status</h1>
  <svg viewBox="0 0 100 100" class="icon-bike large">
    <use xlink:href="#base_bike_icon"></use>
  </svg>

  <form class="form">
    <input type="text" class="form-control" id="id_service_search" placeholder="Search...">
    <ul id="id_services_list" class="services-list">
      {% for service in bike_services %}
        <li>
          <a href="/{{ service[1]["tag"] }}/">
            {% if service[1]["meta"]["name"] %}{{ service[1]["meta"]["name"] }}{% else %}{{ service[0] }}{% endif %} ({{ service[1]["meta"]["city"] }}, {{ service[1]["meta"]["country"]}})
          </a>
        </li>
      {% endfor %}
    </ul>
  </form>

  <script>
    window.addEventListener("load", () => {
      var filter = document.getElementById("id_service_search"), // search box
          list = document.querySelectorAll("#id_services_list a"); // all list items
    
      function search() {
        let search = filter.value.toLowerCase();
    
        for (let i of list) {
          let item = i.innerHTML.toLowerCase();
          if (item.indexOf(search) == -1) { i.classList.add("hide"); }
          else { i.classList.remove("hide"); }
        }
      };
      filter.onkeyup = search;
      search();
    });
  </script>
{% endblock body %}