{% extends "base.html" %}

{% block body %}
  <h1>Bike sharing status</h1>
  <svg viewBox="0 0 100 100" class="icon-bike large">
    <use xlink:href="#base_bike_icon"></use>
  </svg>

  <form id="id_bike_service_form" class="form" action="." method="post">
    <label for="id_bike_service">Choose your bike service</label>
    <select id="id_bike_services" class="form-control" name="bike_service" require>
      {% for service in bike_services %}
        <option value="{{ service[1]["tag"] }}">
          {% if service[1]["meta"]["name"] %}{{ service[1]["meta"]["name"] }}{% else %}{{ service[0] }}{% endif %} ({{ service[1]["meta"]["city"] }})
        </option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-block">Go</button>
  </form>
{% endblock body %}