{% extends "base.html" %}

{% block title_tag %}{{ network.name }} {{ network.location.city }}{% endblock title_tag %}

{% block body %}
  <header>
    <h1>{{ network.name }} {{ network.location.city }}</h1>
    <a href="/" title="Go to home">Home</a>
  </header>
  <form class="form">
    <input type="text" id="id_station_filter" class="form-control" placeholder="Search a station by name..."/>
  </form>
  <ul id="id_stations_list" class="stations-list">
    {% for station in network.stations %}
      <li class="station {% if station.id in favorites %}favorite{% endif %}">
        <div class="station-name">
          {{ station.name }}
          <button class="button-favorite" data-add-to-fav="{{ station.id }}">
            <svg viewBox="0 0 100 100" class="icon-star">
              <use xlink:href="#base_star_icon"></use>
            </svg>
          </button>
        </div>
        <ul class="station-properties">
          <li>
            {% if station.extra.ebikes %}
              <span class="count-bike count-bike-electrical">{{ station.extra.ebikes }}</span>
              <svg viewBox="0 0 100 100" class="icon-bike icon-bike-electrical">
                <use xlink:href="#base_bike_icon"></use>
              </svg>
            {% endif %}
            {% if station.extra.normal_bikes %}
              <span class="count-bike count-bike-mechanical">{{ station.extra.normal_bikes }}</span> 
              <svg viewBox="0 0 100 100" class="icon-bike icon-bike-mechanical">
                <use xlink:href="#base_bike_icon"></use>
              </svg>
            {% else %}
              <span class="count-bike count-bike-mechanical">{{ station.free_bikes|default(0, true) }}</span> 
              <svg viewBox="0 0 100 100" class="icon-bike icon-bike-mechanical">
                <use xlink:href="#base_bike_icon"></use>
              </svg>
            {% endif %}
            <span class="count-bike {% if station.empty_slots|default(0, true) <= 1 %}danger{% endif %}">{{ station.empty_slots|default(0, true) }} slots</span>
          </li>
        </ul>
      </li>
    {% endfor %}
  </ul>

  <form id="id_favorite_form" action="." method="get"></form>

  {% if favorites|length == 1 %}
    <p class="alert">Bookmark this URL to save your favorites!</p>
  {% endif %}

  <script>
    document.querySelectorAll("[data-add-to-fav]").forEach(button => {
      button.addEventListener("click", (e) => toggleFavorite(e.currentTarget.dataset.addToFav))
    })

    function toggleFavorite(stationId) {
      const urlParams = new URLSearchParams(window.location.search)

      if (!urlParams.has("fav", stationId)) {
        urlParams.append("fav", stationId)
      } else {
        urlParams.delete("fav", stationId)
      }
      window.location.href = "?" + urlParams
    }

    window.addEventListener("load", () => {
      var filter = document.getElementById("id_station_filter"), // search box
          list = document.querySelectorAll("#id_stations_list li"); // all list items
    
      function search() {
        let search = filter.value.toLowerCase();
    
        for (let i of list) {
          let item = i.innerHTML.toLowerCase();
          if (item.indexOf(search) == -1) { i.classList.add("hide"); }
          else { i.classList.remove("hide"); }
        }
      };
      filter.onkeyup = search;
      search();
    });
  </script>
{% endblock body %}
